<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Pill Identification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
</head>
<body>
    <div class="background-container">
        <!-- Create multiple circles for background animation -->
        <div class="circle" style="top: 20%; left: 30%; width: 100px; height: 100px;"></div>
        <div class="circle" style="top: 50%; left: 70%; width: 150px; height: 150px;"></div>
        <div class="circle" style="top: 80%; left: 10%; width: 80px; height: 80px;"></div>
    </div>
    <h1>About Us</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="aboutus.html">About Us</a>
        <a href="upload.html">Upload</a>
    </nav>
    <div class="content">
        <div class="person">
            <div class="person-info">
                <h2>Arockiya Abinaya S</h2>
                <p>Register Number: 113121UG08004</p>
                <p>Department: Artificial Intelligence and Data Science</p>
                <p>Role in Project: ML Developer(Model building)</p>
            </div>
                <img class="profile-pic" src="static/img/abi.jpg" alt="Abinaya">
            </a>
        </div>
        <div class="person">
            <div class="person-info">
                <h2>SaiSakthi R A</h2>
                <p>Register Number: 113121UG08043</p>
                <p>Department: Artificial Intelligence and Data Science</p>
                <p>Role in Project: Frontend Developer(HTML, CSS, Designing)</p>
            </div>
                <img class="profile-pic" src="static/img/sai.jpg" alt="Sai Sakthi">
            </a>
        </div>
        <div class="person">
            <div class="person-info">
                <h2>Premkumar V</h2>
                <p>Register Number: 113121UG08036</p>
                <p>Department: Artificial Intelligence and Data Science</p>
                <p>Role in Project: Backend Developer(Data Collection, Flask Program)</p>
            </div>
                <img class="profile-pic" src="static/img/prem.jpg" alt="Suresh R">
            </a>
        </div>
    </div>
</body>
</html>
